* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    max-width: 410px;
    /* border: 1px solid black; */
}

header {
    background-color: white;
    text-align: start;
    position: fixed;
    width: 410px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
    display: flex;
    align-items: center;
    top: 0;
    z-index: 1;
}

label {
    position: absolute;
    right: 40px;
}

#search-icon {
    color: white;
    background-color: black;
    padding: 10px;
    border-radius: 50px;
}

.space {
    height: 80px;
}

.space2 {
    height: 300px;
}

#search-box {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    font-size: 16px;
    border: 2px solid black;
    border-radius: 50px;
    position: relative;
}

#type-of-product {
    width: 100%;
    overflow-x: auto;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

#type-of-product > a {
    text-decoration: none;
    color: black;
}

.pilyonka {
    width: 70px;
    text-align: center;
}

.pilyonka img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 1px solid black;
}

.pilyonka p {
    font-size: 12px;
}

.pilyonka img:hover {
    border: 3px solid black;
}

#uzb {
    margin-top: 30px;
}

#products {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

.product {
    border: 1px solid #ddd;
    /* padding: 10px; */
    width: 100%;
    /* text-align: center; */
    padding-bottom: 10px;
    position: relative;
}

.product button {
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.product h3 {
    margin: 10px 0 5px;
    color: black;
}

.product .tafsilot {
    color: #777;
    font-size: 11px;
    margin-bottom: 20px;
}

.product .narx {
    font-size: 17px;
    margin: 5px 0;
}

.product .narx span {
    font-size: 30px;
    font-weight: 600;
    color: red;
}

.product input {
    width: 30px;
    height: 30px;
    border-radius: 10px;
    outline: none;
}

.product .jami span {
    font-weight: 800;
}

.product img {
    width: 100%;
    height: auto;
}

#cart {
    position: fixed;
    bottom: 0;
    width: 410px;
    background: white;
    color: black;
    padding: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}

#cart-items {
    list-style: none;
    padding: 0;
}

#cart-items li {
    margin: 5px 0;
    font-size: 10px;
}

#cart-icon {
    color: white;
    background-color: black;
    padding: 10px;
    border-radius: 50px;
}

button {
    background: #3944BC;
    transition: all 0.3s ease;
    color: white;
    border: none;
    height: 35px;
    padding: 10px;
    cursor: pointer;
    border-radius: 10px;
}

button:hover {
    background: #1338BE;
}